
@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%unselectable {
  @include unselectable;
}

html{
 // --ide-logo: url(/images/dark-logo.svg);
}

.ui-theme-light{
 // --ide-logo: url(/images/light-logo.svg);
}

manage-app{
  position:relative;
}

#views{
  padding: var(--ui-l-spacing);
}

.tiles{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 10em));
  gap: var(--ui-spacing);
  --ui-button-spacing: var(--ui-l-spacing);
}

/**
 * https://css-tricks.com/position-sticky-and-table-headers/
 * https://css-tricks.com/accessible-simple-responsive-tables/
 */
table.model-table{
  width: 100%;
  position: relative;
  border-collapse: collapse;
  thead{
    font-weight: var(--ui-weight-bold);
  }
  th{
    position:sticky;
    top: 0;
  }
  td{
    padding: var(--ui-spacing);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tbody {
    tr[data-href]{
      cursor: var(--ui-action-pointer);
      &:hover, &:active{
        background: var(--ui-selection-background);
      }
    }
    tr{
      border-top: 1px solid var(--ui-separator);
    }
  }
}



